.App {
  text-align: center;
}

.category-page {
  width: 80%;
  margin: 0 auto;
}

.category-page p {
  width: 70%;
  margin: 30px auto;
}

article {
  width: 50%;
  margin: 0 auto;
}

article p span {
  font-weight: bold;
}

#add-beer-form { 
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#add-beer-form div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#add-beer-form label {
  margin-right: 30px;
}

#search-bar input {
  min-width: 60%;
  min-height: 25px;
}

.btn button {
  min-width: 200px;
}

#add-beer-form div, #search-bar input, .btn button, #show-all {
  margin: 10px 0;
}

